<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.mapper.DishTypeMapper">
    <insert id="insert">
        INSERT INTO t_dish_type (dishid,typeid)
        VALUES(#{dishId}, #{typeId})
    </insert>
</mapper>
