<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.mapper.UserMapper">

    <update id="updatePassword">
        update sys_user set `password` = #{userPasswordDTO.newPassword} where `username` = #{userPasswordDTO.username};
    </update>

    <resultMap id="pageUser" type="com.wu.entity.User">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="nickname" property="nickname"></result>
        <result column="email" property="email"></result>
        <result column="phone" property="phone"></result>
        <result column="address" property="address"></result>
        <result column="avatar" property="avatar"></result>
        <result column="role" property="role"></result>
    </resultMap>


</mapper>
